{% extends "base.html" %}
{% block title %}Cart{% endblock %}

{% block content %}
<div class="two-box">
    <div id="left">
        <div id="controls">
        </div>
    </div>
    

    <div id="right">
        <div id="cart">
            <h2 id="cart-title">Your cart</h2>
            <ul id="cart-items">
                <li>(Empty!)</li>
            </ul>

            <div>
                <button onclick="constructCart()">Update cart</button>
                <button onclick="resetCart()">Cancel</button>
                <button onclick="confirmCart()">Confirm purchase</button>
            </div>
        </div>
    </div>

    <script>
        loadCart();
    </script>
</div>
{% endblock %}