{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="two-box">
    <div id="left">
        <div id="controls">
            <form id="profile-select">
                <label>Select profile:</label>
                <select name="profile" onchange="changeUser(this)">
                    {% for guy in customers %}
                    <option id="option-{{ guy[0]|e }}" value='{"CustomerID": "{{ guy[0]|e }}", "FirstName": "{{ guy[1]|e }}", "LastName": "{{ guy[2]|e }}"}'>{{ guy[1]|e }}</option>
                    {% endfor %}
                </select>
            </form>   
        </div>
    </div>
    

    <div id="right">
        <div>
            <h2>Profile</h2>
            <p>ID: <span id="customer-id">(no profile selected)</span></p>
            <p>Name: <span id="customer-first">(no profile selected)</span> <span id="customer-last"></span></p>
        </div>
        <!-- a list of past orders would go so hard here -->
    </div>

    <script>
        loadProfile();
    </script>
</div>
{% endblock %}